footer{
    margin-top: 200px;
    padding: 47px 0;
    background-color: #2C343E;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;

}
.tarmoq{
    display: flex;
    gap: 34px;
}